<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Image upadate this page</h1>
    <form method="post" action="http://localhost:8080/update/<%= imgdata._id %>">
        <input name="change" placeholder="new img link">
        <button>final submit</button>
    </form>
</body>
</html>