<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new chat created please</h1>
    <form method="post" action="http://localhost:8080/post">
        <input  name="profile" placeholder="profile image link">
        <br>
        <br>
        <input type="text" name="sender" placeholder="enter your sender">
        <br>
        <br>
        <textarea name="message" placeholder="write some messgae"></textarea>
        <br>
        <br>
        <input  name="image" placeholder="enter image link">
        <br>
        <br>
        <input type="text" name="recevier" placeholder="recevier_name">
        <br>
        <br>
        <button>submit post</button>
    </form>
</body>
</html>